.Head {
  height: 44px;
  padding: 0 18px;
  &__container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.Counter {
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  & > :nth-child(1) {
    padding-top: 3px;
    margin-right: 6px;
  }
}
