@font-face {
  font-family: 'FarfetchBasis';
  src: local('FarfetchBasis'), local('FarfetchBasis'),
    url('../public/fonts/FarfetchBasis-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url('../public/fonts/RoadRadio.eot');
  src: local('RoadRadio'), local('RoadRadio'),
    url('../public/fonts/RoadRadio.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/RoadRadio.woff2') format('woff2'),
    url('../public/fonts/RoadRadio.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL-Bol';
  src: url('../public/fonts/NimbusSanL-Bol.eot');
  src: local('NimbusSanL-Bol'), local('NimbusSanL-Bol'),
    url('../public/fonts/NimbusSanL-Bol.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/NimbusSanL-Bol.woff2') format('woff2'),
    url('../public/fonts/NimbusSanL-Bol.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadioBold';
  src: url('../public/fonts/RoadRadio-Bold.eot');
  src: local('RoadRadio Bold'), local('RoadRadio-Bold'),
    url('../public/fonts/RoadRadio-Bold.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/RoadRadio-Bold.woff2') format('woff2'),
    url('../public/fonts/RoadRadio-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadioLight';
  src: url('../public/fonts/RoadRadio-Light.eot');
  src: local('RoadRadio Light'), local('RoadRadio-Light'),
    url('../public/fonts/RoadRadio-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../public/fonts/RoadRadio-Light.woff2') format('woff2'),
    url('../public/fonts/RoadRadio-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
